In [1]:
import teradataml

In [ ]:
tables = ['embeddings_models', 'embeddings_tokenizers',
       'operator_log_clustermodel', 
       'operator_log_embeddings_test', 'operator_log_embeddings_train',
       'outage_models', 'pump_failure_inference',
       'pump_failure_test', 'pump_failure_train'
         ]

# Loop through the list of views and execute the drop view command for each view
for t in tables:
    try:
        db_drop_table(t) 
    except:
        pass

In [ ]:
views = ['outage_inference_v' ]

# Loop through the list of views and execute the drop view command for each view
for v in views:
    try:
        execute_sql(f"DROP VIEW {v}") 
    except:
        pass