## Introduction to the dataset

### Connect to Vantage

In [1]:
import warnings
warnings.filterwarnings('ignore')
import time
import teradataml as tdml
import json
import os
tdml.__version__

'20.00.00.03'

In [3]:
with open('../connections/sasha.json', 'r') as f:
    Param_ = json.load(f)
    Param_['username'] = Param_['user']
    Param = {k:Param_[k] for k in ['host','username','password','database']}
    
tdml.create_context(**Param)

Engine(teradatasql://denis:***@sasha.smirnov.rocks?DATABASE=denis)

## Look at the data

In [4]:
tdml.db_list_tables()

Empty DataFrame
Columns: [TableName]
Index: []

In [5]:
tdml.DataFrame(tdml.in_schema('emails','emails')).shape

(30, 2)

In [6]:
tdml.DataFrame(tdml.in_schema('emails','emails'))

                                                                                                                                                                                                                                                                                 txt
id
13                                                                      I attended a conference in Dubai on January 10th organized by Global Health Foundation. Our organization plans to donate $30,000 for healthcare initiatives, with a goal of reaching 15% more beneficiaries.
30                                                    I recently met with Dr. Emily Johnson in San Francisco on June 8th to discuss upcoming projects for our organization. We plan to allocate $50,000 for the initiative, targeting a 15% increase in efficiency by the end of Q3.
9                                                                     Last week on September 12th, I participated in a webinar hosted by Digital Marketing Experts Inc. Our marketing team plans to invest $40,000 in their services, anticipating a 20% boost in online visibility.
19                                                                                           I recently had a discussion with Marketing Manager Alex Turner in Berlin on July 7th. We re allocating $40,000 for a social media campaign, expecting a 15% growth in brand visibility.
26                                                During my trip to Dubai on February 10th, I had a meeting with the CEO of Green Energy Solutions. Our collaboration involves a budget of $90,000 for renewable energy projects, targeting a 30% increase in clean energy adoption.
5                                                       In a meeting with CEO Jessica Adams in Sydney on May 20th, we finalized plans for the upcoming product launch. The marketing campaign has a budget of $120,000, aiming for a 25% market share by the end of the fiscal year.
24  During my recent trip to Shanghai on December 18th, I attended a summit organized by Global Sustainability Foundation. Our organization is committed to investing $80,000 in environmentally friendly initiatives, with a goal of achieving a 25% reduction in carbon footprint.
3                                                                                          In my meeting with CFO Alan Turner on March 10th, we reviewed financial projections for the next quarter. Our goal is to raise $100,000 for expansion, targeting a 20% growth in revenue.
7                                                        During my visit to Shanghai on July 15th, I discussed a potential collaboration with the AI Research Institute. Our joint project involves a budget of $90,000, with expectations of a 15% improvement in processing times.
11                                              In my recent meeting with CFO Richard Anderson on November 18th, we discussed budget allocations for the next fiscal year. We aim to invest $200,000 in research and development, anticipating a 18% increase in product innovation.

In [7]:
nb_amps = tdml.execute_sql('SEL HASHAMP()').fetchall()[0][0]+1
nb_amps

2

In [8]:
tdml.remove_context()

True