<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Load data to Vantage
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>

<p style = 'font-size:20px;font-family:Arial'><b>Introduction:</b></p>

<p style = 'font-size:16px;font-family:Arial'>Welcome to this introductory guide. This guide will walk you through steps are needed to load data in Teradata using Python.</p>

In [ ]:
import numpy as np
import pandas as pd
import zipfile
from teradataml import *

display.max_rows = 5

<hr style='height:2px;border:none;'>

<p style='font-size:18px;font-family:Arial;'><b>Connect to Vantage</b></p>
<p style = 'font-size:16px;font-family:Arial'>You will be prompted to provide the password. Enter your password, press Enter, then use down arrow to go to next cell.</p>

In [ ]:
%run -i /home/jovyan/JupyterLabRoot/UseCases/startup.ipynb
eng = create_context(host = 'host.docker.internal', username = 'demo_user', password = password)
print(eng)

<hr style='height:2px;border:none;'>
<p style = 'font-size:18px;font-family:Arial'> <b>Load data from file present locally </b></p>

<p style = 'font-size:16px;font-family:Arial'>
    The data we will be loading for this example is in CSV format. The following is a sample of the header followed by the first 5 rows:
</p>

<p style='font-size:12px;font-family:Courier;'>
    InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country<br>
    536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom<br>
    536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom<br>
    536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom<br>
    536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom<br>
    536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom<br>
</p>

<p style = 'font-size:16px;font-family:Arial'>
    To load data in Teradata using Python, we first load the file in pandas dataframe. The dataframe will interpret the first row as column names.
</p>

In [ ]:
df = pd.read_csv("Retail_Data_sample.csv")

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.head(5)

<p style = 'font-size:16px;font-family:Arial'>Once the data is loaded in the pandas dataframe, we can copy it to Vantage using the copy_to_sql function in teradataml module.

In [ ]:
copy_to_sql(df, table_name="Retail_Data", if_exists="replace")

<p style = 'font-size:16px;font-family:Arial'>Let us check the table created

In [ ]:
df_table = DataFrame("Retail_Data")

In [ ]:
df_table

In [ ]:
type(df_table)

In [ ]:
df_table.shape

<hr style='height:2px;border:none;'>
<p style = 'font-size:18px;font-family:Arial'> <b>Load data from zip file </b></p>

<p style = 'font-size:16px;font-family:Arial;'> We can load zip file in pandas dataframe using the zip file module</p>

In [ ]:
# read the dataset using the compression zip
df_zip = pd.read_csv("Retail_Data_sample.zip", compression="zip")

df_zip.head(5)

<p style = 'font-size:16px;font-family:Arial;'> Once the data is loaded in the pandas dataframe we can easily load dataframe

In [ ]:
copy_to_sql(df_zip, table_name="Retail_Data_zip", if_exists="replace")

In [ ]:
df_zip_table = DataFrame("Retail_Data_zip")

In [ ]:
df_zip_table

<hr style='height:1px;border:none;'>
<p style = 'font-size:18px;font-family:Arial'><b>Clean up</b>

In [ ]:
tables = ["Retail_Data", "Retail_Data_zip"]

# Loop through the list of tables and execute the drop table command for each table
for table in tables:
    try:
        db_drop_table(table_name=table)
    except:
        pass

In [ ]:
remove_context()

<footer style="padding-bottom:35px; border-bottom:3px solid #91A0Ab">
    <div style="float:left;margin-top:14px">ClearScape Analytics™</div>
    <div style="float:right;">
        <div style="float:left; margin-top:14px">
            Copyright © Teradata Corporation - 2024. All Rights Reserved
        </div>
    </div>
</footer>