<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background- padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Overview: Vantage Analytic Library (VAL)
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>
<p style = 'font-size:20px;font-family:Arial'><b>Introduction</b></p>

<p style = 'font-size:16px;font-family:Arial'>Vantage Analytics Library (VAL) is a set of over 50 functions for analyzing data content, performing hypothesis tests and executing advanced analytics. Teradata has been evolving the sophistication of these tools for decades and has now packaged the functionality into a library that is accessed for in-database execution by a stored procedure call.   The stored procedure is passed the name of a function, a list of columns and a set of parameters for the function.</p>
 
<img id="Calling-VAL" src="images/VAL_Calling.png" alt="VAL" width="420" align="right" />    
    
<p style = 'font-size:16px;font-family:Arial'>The stored procedure "td_analyze( ... )"  is in the VAL database on Vantage. It can be called by:</p>
<li style = 'font-size:16px;font-family:Arial'> A SQL statement that you write</li>
<li style = 'font-size:16px;font-family:Arial'>Using the Python teradataml object valib</li>
<li style = 'font-size:16px;font-family:Arial'> Using the R package tdplyr</li>
   
<p style = 'font-size:16px;font-family:Arial'>With VAL, you perform complex processing of the data in the database where it is stored instead of the time and complexity involved in exporting the data out of the database and having a client platform with enough storage and processing capacity to perform the analysis. </p>
    
[![View Video](images/Movie_icon.png)](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjO4cKK-u77AhUhM0QIHbyXAT8QwqsBegQIGRAG&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DqxNw6sM0amg&usg=AOvVaw2e6UgLGXgWImNTIIPvARhV)
[... Video Introduction to VAL](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjO4cKK-u77AhUhM0QIHbyXAT8QwqsBegQIGRAG&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DqxNw6sM0amg&usg=AOvVaw2e6UgLGXgWImNTIIPvARhV)
    
<p style = 'font-size:20px;font-family:Arial'><b>Try a simple example</b></p>
    
<p style = 'font-size:16px;font-family:Arial'>There are many descriptions and sample executions in other notebooks (listed at the end of this notebook), but it would help to show a simple example to understand the concept of using VAL.</p>
    
<p style = 'font-size:16px;font-family:Arial'>Click in the following cell, press shift/enter to provide your password.  Then click the next cell to continue</p>

In [ ]:
%connect local, hidewarnings=true

<p style = 'font-size:16px;font-family:Arial'>The following will use the 'Values' function to analyze one of the built-in sets of data in Vantage's DBC database showing space used by tables. </p>

In [ ]:
call val.td_analyze('Values',
                         'database=dbc;
                          tablename=tablesize;
                          columns=all;
                          uniques=true');

<p style = 'font-size:16px;font-family:Arial'>The above output shows there are 6 columns in dbc.tablesize. The statistics will vary depending on how you've used your environment so far, but there are usually about 6700 rows. There may be 1600-1700 unique values of TableName. Every table on the system is spread across 4 AMPs on this tiny demo system which is why there are 4 unique values for Vproc.</p>

<p style = 'font-size:20px;font-family:Arial'><b>List of Vantage Analytics Library Functions</b></p>
    
<p style = 'font-size:16px;font-family:Arial'>There are more functions available than just 'Values'.  Here is a list:</p>

<img id="VAL-Functions" src="images/VAL_Functions.png" alt="VAL" width="1000" />   


<p style = 'font-size:20px;font-family:Arial'><b>Workbooks providing more details</b></p>

<p style = 'font-size:18px;font-family:Arial'><b>VAL Descriptive Statistics and Transformation SQL function</b></p>
<p style = 'font-size:16px;font-family:Arial'>This notebook demonstrates the use Descriptive Statistics and Data Transformation Functions which are useful for the initial processing of data to understand its makeup</p>

<p style = 'font-size:18px;font-family:Arial'><b>VAL Hypothesis Test SQL functions</b></p>
<p style = 'font-size:16px;font-family:Arial'>Statistical tests provide a means of testing whether the outcome of an experiment could have been accidental. Numerous tests are provided in-database such as Parametric, Binomial, Contingency, Kolmogorov/Smirnoff and Rank tests.</p>

<p style = 'font-size:18px;font-family:Arial'><b>VAL Analytic and Machine Learning Algorithms and Scoring</b></p>
<p style = 'font-size:16px;font-family:Arial'>This notebook demonstrates the use of Vantage Analytic Library for Regression, Factor Analysis, Decision Trees, K-Means, and Association Rules/Sequence Analysis. </p>

<p style = 'font-size:18px;font-family:Arial'><b>VAL teradataml Demo</b></p>
<p style = 'font-size:16px;font-family:Arial'>This notebook shows the power of Vantage and the Analytic Library through a series of functions that use the Teradata SQLE to perform descriptive statistics, data engineering and transformation, model building, model evaluation and model scoring. All Analytic Library functions are called through Python using the teradataml interfaces for VAL. This notebook covers a subset of the function demonstrated in the other 3 VAL  SQL notebooks, but implemented with Python.</p>

<p style = 'font-size:20px;font-family:Arial'><b>Vantage Analytics Library Reference Material</b></p>

[Search for Vantage Analytics Library Documentation](https://docs.teradata.com/search/all?query=Vantage+Analytics+Library&content-lang=en-US)

<footer style="padding-bottom:35px; background:#91A0AB; ">
    <div style="float:left;margin-top:14px">ClearScape Analytics™</div>
    <div style="float:right;">
        <div style="float:left; margin-top:14px">
            Copyright © Teradata Corporation - 2023. All Rights Reserved
        </div>
    </div>
</footer>